@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.container {
  display: flex;
  width: 100%;
  height: 100%;
  gap: 10px;
  padding: 10px;
}

section {
  background: #fff;
  border-radius: 7px;
}

.hamburger-icon-1,
.hamburger-icon-2 {
  display: none;
}

.tools-board {
  position: absolute;
  top: 100px;
  left: 25px;
  padding: 10px;
  max-width: 210px;
  width: 100%;
  z-index: 100;
  border: solid 1px black;
  border-radius: 10px;
  font-size: 20px;
}

.tools-board .row {
  margin-bottom: 20px;
}

.icon {
  width: 18px;
}

p {
  font-size: 20px;
  color: white;
}

.row .options {
  list-style: none;
  margin: 10px 0 0 5px;
}

.row .options .option {
  display: flex;
  cursor: pointer;
  align-items: center;
  margin-bottom: 10px;
}

.option:is(:hover, .active) img {
  filter: invert(17%) sepia(90%) saturate(3000%) hue-rotate(900deg) brightness(100%) contrast(100%);
}

.option :where(span, label) {
  color: #5A6168;
  cursor: pointer;
  padding-left: 10px;
}

.option:is(:hover, .active) :where(span, label) {
  color: #4A98F7;
}

.option #fill-color {
  cursor: pointer;
  height: 14px;
  width: 14px;
}

#fill-color:checked~label {
  color: #4A98F7;
}

.option #size-slider {
  width: 100%;
  height: 5px;
  margin-top: 10px;
}

.colors .options {
  display: flex;
  justify-content: space-between;
}

.colors .option {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  margin-top: 3px;
  position: relative;
}


.colors .option:nth-child(1) {
  background-color: #000;
}

.colors .option:nth-child(2) {
  background-color: #E02020;
}

.colors .option:nth-child(3) {
  background-color: #6DD400;
}

.colors .option:nth-child(4) {
  background-color: #1500d4;
}

.colors .option:nth-child(5) {
  background-image: url(assets/cp.svg);
  background-size: cover;
  background-position: center;
}

.colors .option.selected::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  height: 12px;
  width: 12px;
  background: inherit;
  border-radius: inherit;
  border: 2px solid #fff;
  transform: translate(-50%, -50%);
}

.colors .option:first-child.selected::before {
  border-color: #ccc;
}

.option #color-picker {
  opacity: 0;
  cursor: pointer;
}

.save {
  background-color: #405cf5;
  border-radius: 6px;
  border-width: 0;
  margin: 5px 0;
  box-sizing: border-box;
  color: #fff;
  height: 38px;
  text-align: center;
  width: 100%;
}

.clear {
  background-color: rgb(69, 121, 1);
  border-radius: 6px;
  border-width: 0;
  box-sizing: border-box;
  color: #fff;
  height: 38px;
  text-align: center;
  width: 100%;
}

.drawing-board {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.drawing-board canvas {
  width: 100%;
  height: 100%;
}

.mid {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 640px) {
  .tools-board {
    transition: ease-in 0.3s;
    position: absolute;
    z-index: 8;
    height: 100vh;
    width: 60%;
    top: 0;
    left: 0;
    border-radius: 0;
    box-shadow: 10px 10px 5px #aaaaaa;
  }

  .tools-board-closed {
    top: 0;
    left: -250px;
  }

  .hamburger-icon-1,
  .hamburger-icon-2 {
    display: block;
    transition: ease-in-out 0.3s;
    position: absolute;
    top: 5px;
    left: 2%;
    opacity: 1;
    z-index: 50;
    cursor: pointer;
  }

  .hamburger-icon-2 {
    top: 15px;
    left: 65%;
  }

  .hamburger-icon-1-closed {
    opacity: 0;
  }

  .hamburger-icon-2-closed {
    opacity: 0;
  }

  .drawing-board {
    width: 100vh;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    overflow-y: hidden;
  }
}